$yellow: #d3ff24;
$green: #35ce8d;
$blue: #1982fc;


@font-face {
    font-family: tweb-regular;
    src: url("TitilliumWeb-Regular.ttf");
    font-weight: 400;
  }
  @font-face {
    font-family: tweb-semi;
    src: url("TitilliumWeb-SemiBold.ttf");
  }
  @font-face {
    font-family: tweb-light;
    src: url("TitilliumWeb-Light.ttf");
  }